@font-face {
	font-family: 'helveticaneuecyrroman';
    src: url('/fonts/helveticaneuecyrromanwebfont.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('/fonts/HelveticaNeueCyr-Medium.eot');
}

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('/fonts/helveticaneuecyrlightwebfont.eot');
    font-weight: normal;
    font-style: normal;
}

input[type=text], input[type=password] {
	padding-top: 5px;
}

div.sexy input  {
	padding-top: 6px;
}
