.slider {
float:left;
width:630px;
height:288px;
position:relative;
}

.sliderContent {
float:left;
width:630px;
height:288px;
clear:both;
position:relative;
overflow:hidden;
}

.sliderArrows a {
display:block;
text-indent:-9999px;
outline:none;
z-index:50;
background-image: url('../img/prev_next.png');
width:20px;
height:20px;
position:absolute;
top:50%;
margin-top:0px;
}

.prev {
background-position: 0px 0px;
left:30px;
}

.next {
right:30px;
background-position: -20px 0px;
}

.sliderContent .item {
position:absolute;
width:630px;
height:288px;
background:#fff;
text-align: center;
}

.sliderContent a {
outline:none;
}

.sl_promozona {
	display: inline-block;
	position: absolute;
	left: 50%;
	bottom: 0px;
	height: 48px;
	
}


.sl_promozona > a{
	position: relative;
	display: block;
	padding: 17px 23px 0px;
	height: 31px;
	font: normal 18px helveticaneuecyrroman;
	color:#fff;
	text-decoration: none;
	background: #2d4270;
	left: -45%;
}

a img {
border:none;

}

.item > img {
width:100%;
}


/*Карусель партнеров*/
.partners_slider { height:auto; width: 100%; margin-top: 21px; margin-bottom: 62px;}
.partners_slider .viewport { width: 520px; height:30px; overflow:hidden; position:relative; background: #fff; margin: 0px 35px; float: left; }
.partners_slider .buttons { background: url('../img/corusel_arrows.png') 0px 0px no-repeat; display:block; text-indent:-999em; float: left; width: 20px; height:20px; overflow:hidden; position:relative; cursor:pointer; left: 0px; top: 11px;}
.partners_slider .next { background: url('../img/corusel_arrows.png') -20px 0px no-repeat; float: right;}

.partners_slider .overview { list-style:none; position:absolute; padding:0; margin:0; left:0; top:0;}
.partners_slider .overview li{ float:left; height:30px; }
.partners_slider .overview li a { margin:0px 10px 0px; display:inline-block; height:auto; position:relative; background-repeat:no-repeat; }
.partners_slider .overview li a img { visibility:hidden; }
.partners_slider .overview li a:hover img { visibility:visible;}

.flsGalleryInner { position:absolute; top:0; left:0;}

/* Tiny Carousel */
.slider_tiny {height: 280px; width: 600px; overflow:hidden; clear: both; margin: 25px 40px/*0px*/ 50px; background: #e8edf4;}
.slider_tiny.rows-1 { height: 161px; }
.slider_tiny .viewport { float: left; width: 540px; height: 230px; overflow: hidden; position: relative; margin: 25px 10px 0px 10px;}
.slider_tiny .buttons { background: url('../img/tyni_slider_arrows_bg.png') no-repeat 0px 0px; display: block; margin-top: 130px;  text-indent: -999em; float: left; width: 20px; height: 20px; overflow: hidden; position: relative; cursor: pointer; left: 0px; visibility: hidden;}
.slider_tiny .next { background-position: -20px 0; margin-top: 130px;  margin-right: 0px; float: right;}

.slider_tiny.rows-1 .buttons {margin-top: 70px;}
.slider_tiny.rows-1 .next {margin-top: 70px;}

.slider_tiny:hover .buttons {visibility: visible; }
.slider_tiny .disable { visibility: hidden; }
.slider_tiny .overview { list-style: none; position: absolute; padding: 0; width: 540px; margin: 0; left: 0 top: 0; }
.slider_tiny .overview li{ float: left; margin: 0 8px 0 0; height: 230px; width: 174px;}
.tiny_slide_container {
	float: left;
	margin-left: 9px;
	width: 174px; 
	height: 230px;
	overflow: hidden;
}

.tiny_slide_container:first-child {
	margin-left: 0px;
}

.slide_img_container  {
	float: left;
	margin-top: 8px;
	width: 230px;
	height: 111px;
	vertical-align: top;
	overflow: hidden;
}

.slide_img_container:first-child {
	margin-top: 0px;
}

.slide_img_container  > a > img {
	
}