@font-face {
	font-family: 'helveticaneuecyrroman';
    src: url('/fonts/helveticaneuecyrromanwebfont.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('/fonts/HelveticaNeueCyr-Medium.eot');
}

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('/fonts/helveticaneuecyrlightwebfont.eot');
    font-weight: normal;
    font-style: normal;
}

input[type=text], input[type=password] {
	padding-top: 5px;
}

div.sexy input  {
	padding-top: 6px;
}

#head_menu  > ul  > li, 
.production > a,
a.gallery_link,
a.dn_pdf,
a.to_top,
.content_about > a ,
.album_in_sidebar > a{ display: inline; zoom: 1; }

span.grey_span {
	float: left;
	margin-bottom: 10px;
}

.grid36,.grid39, .grid20, .grid23 {
	margin-bottom: 0px;
}

#head_menu  > ul  > li > ul > li, #left_sidebar > ul > li { margin-bottom: -1px; }

.deep_blue_block_header, .deep_cian_block_header, .deep_grey_block_header { margin-top: -33px; }
